{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "mocha": true
  },
  "plugins": ["flowtype"],
  "rules": {
    "comma-dangle": ["error", "only-multiline"],
    "max-len": [
      "error",
      {
        "code": 120,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ]
  }
}
